@import "tailwindcss";

:root {
	color-scheme: light dark;

	&[data-theme="light"] {
		color-scheme: light;
	}

	&[data-theme="dark"] {
		color-scheme: dark;
	}
}

@theme {
	/* font family */
	--font-serif: "Fraunces Variable", serif;
	--font-dm-sans: "DM Sans Variable", sans-serif;
	--font-dm-mono: "DM Mono", monospace;

	/* font-size */
	--text-2xs: 0.728125rem;
	--text-3xs: 0.6875rem;

	/* color */
	--color-bg-surface: light-dark(hsl(35, 60%, 91%), hsl(35, 60%, 2%));
	--color-bg-page: light-dark(hsl(35, 60%, 95%), hsl(35, 40%, 4%));
	--color-bg-card: light-dark(hsl(35, 40%, 99%), hsl(35, 20%, 7%));
	--color-bg-sun: light-dark(hsl(44, 84%, 90%), hsl(44, 84%, 10%));
	--color-bg-sun-dark: hsl(42, 83%, 58%);
	--color-bg-button-primary-hover: light-dark(
		hsl(33, 22%, 20%),
		hsl(33, 22%, 77%)
	);
	--color-bg-button-secondary-hover: light-dark(
		hsl(30, 24%, 93%),
		hsl(30, 24%, 8%)
	);
	--color-bg-weather: hsl(44, 84%, 75%);
	--color-bg-terracotta: light-dark(hsl(15, 69%, 37%), hsl(15, 55%, 65%));
	--color-bg-welcome-card-dark: hsl(15, 69%, 28%);
	--color-bg-welcome-card-light: hsl(18, 62%, 49%);
	--color-bg-gray: light-dark(hsl(30, 24%, 93%), hsl(30, 20%, 11%));
	--color-bg-info: light-dark(oklch(0.4 0.07 260), oklch(0.8 0.07 260));
	--color-bg-success: light-dark(oklch(0.4 0.07 160), oklch(0.8 0.07 160));
	--color-bg-error: light-dark(oklch(0.4 0.07 30), oklch(0.8 0.07 30));

	--color-text: light-dark(hsl(33, 15%, 15%), hsl(33, 15%, 84%));
	--color-text-inverse: light-dark(hsl(33, 15%, 84%), hsl(33, 15%, 15%));
	--color-text-inverse-muted: light-dark(hsl(33, 15%, 74%), hsl(33, 15%, 25%));
	--color-text-muted: light-dark(hsl(33, 5%, 41%), hsl(33, 5%, 59%));
	--color-text-terracotta: light-dark(hsl(15, 74%, 41%), hsl(15, 67%, 65%));
	--color-text-sun: hsl(44, 84%, 75%);
	--color-text-error: light-dark(var(--color-red-700), var(--color-red-400));

	--color-border: light-dark(hsl(36, 22%, 86%), hsl(36, 22%, 14%));
	--color-border-muted: light-dark(hsl(30, 24%, 89%), hsl(30, 24%, 11%));

	--color-wifi: light-dark(hsl(230, 49%, 47%), hsl(230, 43%, 68%));
	--color-breakfast: light-dark(hsl(340, 48%, 47%), hsl(340, 41%, 69%));

	/* base color - will be deleted later */
	--color-neutral-0: hsl(0, 0%, 100%);
	--color-neutral-50: hsl(40, 60%, 98%);
	--color-neutral-100: hsl(35, 60%, 96%);
	--color-neutral-200: hsl(30, 24%, 93%);
	--color-neutral-400: hsl(36, 22%, 86%);
	--color-neutral-600: hsl(33, 17%, 41%);
	--color-neutral-700: hsl(32, 20%, 29%);
	--color-neutral-800: hsl(33, 22%, 20%);
	--color-neutral-900: hsl(33, 15%, 15%);

	--color-sun-50: hsl(41, 100%, 93%);
	--color-sun-200: hsl(45, 100%, 74%);
	--color-sun-300: hsl(44, 84%, 75%);
	--color-sun-500: hsl(42, 83%, 58%);

	--color-terracotta-400: hsl(22, 72%, 56%);
	--color-terracotta-500: hsl(18, 62%, 47%);
	--color-terracotta-600: hsl(15, 74%, 41%);
	--color-terracotta-700: hsl(15, 69%, 37%);

	--color-blue-500: hsl(230, 49%, 56%);

	--color--rose-500: hsl(340, 48%, 52%);

	/* spacing */
	--spacing-fluid-200: clamp(1rem, 0.4221rem + 2.4653vw, 2rem);
	--spacing-fluid-300: clamp(1rem, 0.1332rem + 3.6979vw, 2.5rem);

	--spacing-header-height: 4.5625rem;
	--spacing-toast-viewport: 2rem;

	/* z-index */
	--z-card: 10;
	--z-mobile-nav: 500;
}

@layer base {
	/* 	RESET */
	html {
		/* Reserve scrollbar area */
		scrollbar-gutter: stable;
		/* Enable smooth scrolling for anchor links */
		@media (prefers-reduced-motion: no-preference) {
			scroll-behavior: smooth;
		}
		/* Enable keywords animations */
		interpolate-size: allow-keywords;
	}

	body {
		/* Improve text rendering */
		-webkit-font-smoothing: antialiased;
		/* hide horizontal overflow */
		overflow-x: hidden;
		/* set default font */
		font-family: var(--font-serif);
		/* set-default line height */
		line-height: 1.5;

		@supports (overflow-x: clip) {
			overflow-x: clip;
		}
	}

	/* remove vertical white space for some element */
	@supports (text-box: trim-both cap text) {
		h1,
		h2,
		h3,
		label,
		li,
		button,
		a {
			text-box: trim-both cap text;
		}
	}

	/* improve focus styles */
	:focus-visible {
		outline-offset: 3px;
		outline-style: solid;
		outline-width: 3px;
		outline-color: var(--color-text-terracotta);
	}

	/* TYPOGRAPHY */
	h1 {
		@apply text-[2.35rem];
	}

	p {
		@apply text-sm;
	}
}

@utility hover-underline {
	background:
		linear-gradient(currentColor 0 0) bottom / var(--d, 0) 3px no-repeat;
	transition: 0.5s;

	&:hover {
		@media (hover: hover) {
			--d: 100%;
		}
	}
}

@utility hover-underline-2 {
	background:
		linear-gradient(currentColor 0 0) var(--p, 0) 100% / var(--d, 0) 3px
		no-repeat;
	transition:
		0.3s,
		background-position 0s 0.3s;

	&:hover {
		--d: 100%;
		--p: 100%;
	}
}

@utility squircle {
	corner-shape: squircle;
}

@utility trim-capital {
	text-box: trim-both cap alphabetic;
}
@utility trim-text {
	text-box: trim-both cap text;
}

@utility hamburger-transition-timing {
	@media (prefers-reduced-motion: no-preference) {
		transition:
			translate 0.3s 0.3s,
			opacity 0s 0.3s,
			rotate 0.3s;

		.group[aria-expanded="true"] & {
			transition:
				rotate 0.3s 0.3s,
				opacity 0s 0.3s,
				translate 0.3s;
		}
	}
}

@utility menu-transition {
	transition: all 0.5s allow-discrete;

	@media (prefers-reduced-motion: no-preference) {
		translate: 100% 0;

		&:popover-open {
			translate: 0 0;

			@starting-style {
				translate: 100% 0;
			}
		}
	}

	@media (prefers-reduced-motion: reduce) {
		opacity: 0;

		&:popover-open {
			opacity: 1;

			@starting-style {
				opacity: 0;
			}
		}
	}
}

@utility border-gradient {
	@apply bg-linear-to-r from-border-muted/20 to-border-muted/5;
	mask-image: linear-gradient(
		to right,
		var(--color-border-muted) 60%,
		transparent 0%
	);
	mask-size: 12px 100%;
}

@utility z-card {
	z-index: var(--z-card);
}

@utility z-mobile-nav {
	z-index: var(--z-mobile-nav);
}

@utility show-tooltip {
	@media (prefers-reduced-motion: no-preference) {
		animation: tooltip-show-no-preference 0.2s ease-out;
	}

	@media (prefers-reduced-motion: reduce) {
		animation: tooltip-show-reduce 0.2s ease-out;
	}
}

@keyframes tooltip-show-no-preference {
	from {
		opacity: 0;
		translate: 0 1rem;
		scale: 0.5;
	}
	to {
		opacity: 1;
		translate: 0 0;
		scale: 1;
	}
}

@keyframes tooltip-show-reduce {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@utility hide-tooltip {
	@media (prefers-reduced-motion: no-preference) {
		animation: tooltip-hide-no-preference 0.2s ease-in forwards;
	}

	@media (prefers-reduced-motion: reduce) {
		animation: tooltip-hide-reduce 0.2s ease-in forwards;
	}
}

@keyframes tooltip-hide-no-preference {
	from {
		opacity: 1;
		translate: 0 0;
		scale: 1;
	}
	to {
		opacity: 0;
		translate: 0 1rem;
		scale: 0.5;
	}
}

@keyframes tooltip-hide-reduce {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@utility toast-progress-transition {
	transition: inline-size 250ms linear;
}

@utility show-toast {
	@media (prefers-reduced-motion: no-preference) {
		animation: toast-show-no-preference 0.2s ease-out;
	}
	@media (prefers-reduced-motion: reduce) {
		animation: toast-show-reduce 0.2s ease-out;
	}
}

@keyframes toast-show-no-preference {
	from {
		translate: 0 calc(100% + var(--spacing-toast-viewport));
	}
	to {
		translate: 0 0;
	}
}

@keyframes toast-show-reduce {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@utility hide-toast {
	@media (prefers-reduced-motion: no-preference) {
		animation: toast-hide-no-preference 0.2s ease-out forwards;
	}
	@media (prefers-reduced-motion: reduce) {
		animation: toast-hide-reduce 0.2s ease-out forwards;
	}
}

@keyframes toast-hide-no-preference {
	from {
		opacity: 1;
		scale: 1;
	}
	to {
		opacity: 0;
		scale: 0.5;
	}
}
@keyframes toast-hide-reduce {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@utility swipe-out {
	animation: swipe-out 0.1s ease-out;
}

@keyframes swipe-out {
	from {
		transform: translateX(var(--kb-toast-swipe-end-x));
	}
	to {
		transform: translateX(calc(100% + var(--spacing-toast-viewport)));
	}
}
